*{
    background: black;
    color: white;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    
  }
  
  #title {
    font-size: 50px;
  }

  h2{
    font-weight: 300;
    font-size: 42px;
  }
  
  .link {
    color: aquamarine;
    font-size: 16px;
    
  }
  
  #grey {
    color: gray;
    font-size: 21px;
  }